/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: 'Source Code Pro', monospace;
  height: 100%;
  font-size: 2rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 5rem;
}
.container {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding: 2%;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 1%;
  }
}
.header {
  background-color: #2f5947;
  color: #ebe8ab;
  padding: 2%;
}
.header .nav {
  display: flex;
  justify-content: space-evenly;
}
.header .nav a {
  font-size: 2rem;
  font-family: 'Audiowide', regular;
}
@media (max-width: 500px) {
  .header .nav {
    padding: 5%;
    flex-direction: column;
  }
  .header .nav a {
    text-align: center;
    padding: 5% 0% 5% 0%;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0%;
  }
}
.topcontent {
  padding-bottom: 5%;
}
.topcontent .imageandtitle {
  display: flex;
  justify-content: space-between;
}
.topcontent .imageandtitle img {
  width: 50%;
  padding: 5%;
}
.topcontent .imageandtitle h2 {
  text-align: center;
  padding: 20% 0% 20% 0%;
  width: 50%;
}
@media (max-width: 800px) {
  .topcontent .imageandtitle img {
    width: 50%;
    padding: 5% 5% 25% 5%;
  }
  .topcontent .imageandtitle h2 {
    font-size: 3rem;
    text-align: center;
    padding: 50% 0% 20% 0%;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .topcontent .imageandtitle {
    display: flex;
    flex-direction: column;
  }
  .topcontent .imageandtitle img {
    width: 100%;
    padding: 0%;
  }
  .topcontent .imageandtitle h2 {
    text-align: center;
    padding: 20% 0% 20% 0%;
    width: 100%;
  }
}
.topcontent .shpill {
  align-content: center;
}
.topcontent .shpill p {
  line-height: 2.5rem;
}
.topcontent .shpill button {
  background-color: #67a175;
  color: white;
  padding: 2%;
  text-align: center;
  font-size: 2rem;
  margin: 4px 2px;
  border-radius: 10%;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}
@media (max-width: 500px) {
  .topcontent .shpill p {
    text-align: center;
  }
}
.middle-content {
  display: flex;
  justify-content: space-evenly;
}
.middle-content .middlewords {
  width: 40%;
}
.middle-content h3 {
  font-size: 3rem;
}
.middle-content table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}
.middle-content table td,
.middle-content table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
@media (max-width: 800px) {
  .middle-content {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 5% 20% 5% 20%;
  }
  .middle-content .middlewords {
    width: 100%;
    padding: 0% 0% 20% 0%;
  }
  .middle-content .middlewords table {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .middle-content {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 4%;
  }
  .middle-content .middlewords {
    width: 100%;
    padding: 0% 0% 10% 0%;
  }
  .middle-content .middlewords table {
    width: 100%;
  }
  .middle-content .middlewords table td,
  .middle-content .middlewords table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
  }
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table td,
table th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
footer {
  margin-top: 5%;
  background-color: #2f5947;
  color: #ebe8ab;
  padding: 2%;
  text-align: center;
}
